.landing-page {
    padding: 0;
    max-width: 100%;

    .carousel {
        max-height: 90vh;
        .image-home {
            background-color: #323C97;
            width: 100%;
            .image-carousel {
                width: 100%;
                height: 90vh;
                opacity: 0.3;
                object-fit: cover;
            }
            .text-carousel {
                width: 70%;
                text-align: center;
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 3.2rem;
                font-weight: bold;
                color: white;
            }
            .btn-search-home {
                font-family: 'Poppins', sans-serif;
                text-align: center;
                position: absolute;
                top: 75%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.6rem;
                width: 20%;
                height: 12%;
                font-weight: 600;
                padding: 10px;
                background-color: rgba(255, 255, 255, 0.4);
                border: none;
                border-radius: 50px;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.8);
                    color: #323C97
                }
            }
        }
    }
    .second {
        font-family: 'Poppins', sans-serif;
        padding: 3.8rem;
        text-align: center;
        margin: 0;

        .second-title {
            color:#5C79C5;
            font-weight: 900;
            line-height: 6rem;
        }
        .second-paragraph {
            font-size: 19px;
            width: 55%;
        }
    }
    .third {
        padding: 3.5rem;
        margin: 0;
        .third-benefit {
            margin: auto;
            width: 100%;
            .rounded-circle {
                color: white;
                background-color: #5C79C5;
                width: 32%;
                height: auto;
                padding: 1rem;
                margin: 1.5rem;
            }
            .third-caption {
                width: 60%;
                margin: auto;
                text-align: center;
                
            }   
        }
    }
    .partner {
        font-family: 'Poppins', sans-serif;
        padding: 4.6rem;
        .partner-name{
            font-weight: bold;
            color: #5C79C5;
            line-height: 8rem;
        }
        .partners-info {
            margin: auto;
            width: 70%;
            .partner-benefit {
                img {
                    width: 100%;
                    height: auto;
                }
                .partner-caption {
                    margin: auto;
                    font-weight: 600;
                }
            }
        }
    }
}