name: Build and Deploy to VPS

on:
  push:
    branches: 
      - main
    paths:
      - "frontend/**"

defaults:
  run:
    working-directory: ./frontend/pinjam-buku

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./frontend/pinjam-buku
          file: ./frontend/pinjam-buku/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/pinjambuku-frontend:latest

  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            bash /home/pinjambuku/production/deploy-frontend.sh